
.overlaid {
	position: absolute;
	top: 150px;
	left: 30px;
	z-index: 1;
	color: white;
	opacity: 0.5;
	max-width: 500px;
}
.overlaid:hover {
	opacity: 1;
}
/* to be set with js*/
.overlaid.focused {
	opacity: 1;
}

.messages > p {
	margin: 2px;
	font-size: 14px;
	overflow-wrap: break-word;
}

.messagebox {
	max-height: 300px;
	overflow-y: scroll;
	direction: rtl; /*scrollbar on the left*/
}
.messages {
	direction: ltr;
}

.author::after {
	content: ':';
}
.author {
	color: goldenrod;
}

.hidden {
	display: none !important;
}
